/*Fonts start*/
@font-face {
    font-family: 'Texgyreadventor-regular';
    src: url('../fonts/texgyreadventor-regular.eot');
    src: local('☺'), url('../fonts/texgyreadventor-regular.woff') format('woff'), url('../fonts/texgyreadventor-regular.ttf') format('truetype'), url('../fonts/texgyreadventor-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Texgyreadventor-bold';
    src: url('../fonts/texgyreadventor-bold.eot');
    src: local('☺'), url('../fonts/texgyreadventor-bold.woff') format('woff'), url('../fonts/texgyreadventor-bold.ttf') format('truetype'), url('../fonts/texgyreadventor-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Fonts end*/


/*Document reset start*/
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, h1 {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: initial;
}
li {
    list-style: none;
}
.clear {
    clear: both;
}
body {
    background: #1c1c1c;
    font-family: 'Texgyreadventor-regular',arial, verdana, tahoma, sans-serif;
    margin: 0 auto;
}
/*Document reset end*/


/*Animations*/
/*@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}*/

/*Header start*/
header {
    width: 100%;
    height: 157px;
    background: #0e0e0e;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

hr {
    background-color: #272727;
    height: 1px;
    border: 0;
}

/*Registration / Log In block start*/
.header-signing-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 54px;
    align-items: center;
    border-left: 1px solid #272727;
    margin-left: 85.3%;
}
.header-signing {
    margin-bottom: 4px;
    margin-right: 3px;
}
.header-signing * {
    font-size: 14px;
    list-style: none;
    float: left;
    letter-spacing: 0.3px;
}
.header-signing a:hover, span {
    color: #666666;
    cursor: pointer;
    cursor: hand;
}
.header-signing a {
    color: #dddddd;
}
.header-signing span {
    padding: 0 0.3em;
}
.header-signing.authorized {
    display: inline;
}
.header-signing.not-authorized {
    display: inline;
}
/*Registration / Log In block end*/

/*Main menu block start*/
/*Logo start*/
.header-logo {
    color: white;
    font-size: 2.25em;
    margin-top: -9px;
}
/*Logo end*/

/*Menu start*/
.header-menu-wrapper {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    margin-top: -3px;
}
.header-menu li a {
    font-family: 'Texgyreadventor-bold';
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #cccccc;
    margin-left: 65px;
}
.header-menu li a:hover {
    color: #ba933e;
}
.header-menu li:first-child {
    margin-left: 0;
}
.header-menu li.active a {
    color:#ba933e;
}
/*Menu end*/

/*Right elements start*/
.header-right-elements {
    display: flex;
    align-items: center;
    margin-right: 6px;
    margin-top: -3px;
    color: white;
    font-size: 24px;
}
.header-right-elements a {
    color: #bbbbbb;
}
.header-right-elements a:hover {
    color: #ba933e;
}
.header-cart {
    margin-left: 46px;
    position: relative;
}
.header-cart-counter {
    position: absolute;
    right: -8px;
    top: 1px;
    width: 14px;
    height: 14px;
    background-color: #ba933e;
    padding: 2px;
    border-radius: 50%;
    font-size: 8px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 14px;
    color: white;
}
/*Right elements end*/
/*Main menu block start*/
/*Header end*/


/*Main slider start*/
.main-slider {
    position: relative;
    width: 100%;
    height: 823px;
    overflow: hidden;
}
.main-slider .slider {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
}
.main-slider .slider .slide {
    width: auto;
    height: 100%;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-slider .slider .slide img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Button next start*/
.main-slider .button-next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 60px;
    margin-top: -57px;
    background: #ba933e;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}
.main-slider .button-next img {
    margin-top: 25px;
}
/*Button next end*/

/*Button previous start*/
.main-slider .button-previous {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 60px;
    margin-top: -57px;
    background: #e9e9e9;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}
.main-slider .button-previous img {
    margin-top: 25px;
}
/*Button previous end*/

/*Slides numeration icons start*/
.main-slider .slides-numeration {
    position: absolute;
    right: 50%;
    bottom: 41px;
    margin-right: -25px;
}
.main-slider .slides-numeration .slides-numeration-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: black;
    border: 2px solid #ba933e;
    margin-left: 10px;
}
.main-slider .slides-numeration .slides-numeration-item.active {
    background: #ba933e;
}
/*Slides numeration icons end*/
/*Main slider end*/


/*Main content block start*/
.main-content {
    position: relative;
    background: #FFFFFF;
    width: 100%;
    /*height: 1217px;*/
    height: auto;
    overflow: auto;
}
.main-content .container {
    text-align: center;
}
/*Section top start*/
.main-content .section-top h1 {
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 40px;
    padding-top: 61px;
    letter-spacing: 1.5px;
}
.main-content .section-top p {
    font-size: 14px;
    color: #888888;
    letter-spacing: 0.35px;
    margin-top: 4px;
}
/*Section top end*/

/*Section main start*/
.main-content-menu {
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 52px;
    letter-spacing: 0.4px;
    margin-left: 11px;
}
.main-content-menu li {
    padding-left: 54px;
}
.main-content-menu li:first-child {
    padding: 0;
}
.main-content-menu li * {
    color: #333333;
}
.main-content-menu li *:hover {
    color: #ba933e;
}
.main-content-menu .active * {
    color:#ba933e;
}

/*Products section start*/
.main-content-products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 35px;
}
.main-content-products .product-container {
    height: 480px;
}
.product-container .product-image {
    position: relative;
    width: 270px;
    height: 344px;
    background-color: black;
}
.product-container.new .product-image {
    background-color: #151317;
}
/*.product-container.sale .product-image {
    background-color: black;
}*/
.product-container .product-image .product-image-label {
    position: absolute;
    width: 55px;
    height: 26px;
    background: black;
    top: 8px;
    right: 8px;
    color: white;
    text-align: center;
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding-top: 2px;
}
.product-container .product-image .product-quick-view {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin-left: calc(0px - 118px / 2);
    margin-top: calc(0px - 40px / 2);
    width: 118px;
    height: 40px;
    padding-top: 8px;
    background: #ba933e;
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
}
.main-content .container .main-content-products .product-container {
    text-align: left;
}
/*Caption for product start*/
.product-container .product-image-caption {
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #555555;
    margin-top: 15px;
}
.product-container .product-image-caption .caption-price-block p {
    display: inline-block;
    margin-right: 5px;
}
.product-container .product-image-caption .caption-price-block .caption-price {
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: #222222;
}
.product-container .product-image-caption .caption-price-block .caption-price-old {
    color: #aaaaaa;
    text-decoration: line-through;
}
/*Caption for product end*/

.product-container hr {
    background-color: #e1d8cf;
    margin-top: 16px;
    opacity: 0;
}

/*Add to cart block start*/
.product-container .product-add-to-cart-wrapper {
    display: none;
}
.product-container .product-add-to-cart {
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 13px;
    color: #222222;
    margin-top: 14px;
    opacity: 0;
}
.product-container .product-add-to-cart * {
    display: inline-block;
}
.product-container .product-add-to-cart p {
    margin-left: 3px;
}
/*Add to cart block end*/
/*Products section end*/

/*Button up start*/
.main-content .button-up {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background: black;
    text-align: center;
}
.main-content .button-up img {
    margin-top: 20px;
}
/*Button up end*/
/*Section main end*/
/*Main content block end*/

/*Footer start*/
footer {
    background-image: url("../images/footer-background.png");
    width: 100%;
    height: 453px;
}
footer .container .section {
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: #888888;
}

/*Section top start*/
.section.top {
    padding-top: 47px;
    box-sizing: border-box;
}

/*Left block*/
.section.top .left-block {
    float: left;
    width: 30%;
}
.section.top .left-block .description-item {
    padding-top: 19px;
    font-style: italic;
}
.section.top .left-block .contacts {
    padding-top: 10px;
    color: #bbbbbb;
}
.section.top .left-block .contacts .line {
    padding-top: 4px;
}
.section.top .left-block .contacts .line:first-child {
    padding-top: 0;
}
.section.top .left-block .contacts .line * {
    display: inline-block;
}
.section.top .left-block .contacts .line i {
    width: 24px;
}
.section.top .left-block .by-this-theme {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid #957633;
    margin-top: 26px;
    padding-top: 7px;
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ba933e;
}
/*Left block end*/

/*Information, Service, My Account block start*/
.section.top .column .column-header {
    margin-top: -6px;
    font-family: 'Texgyreadventor-bold', arial, verdana, tahoma, sans-serif;
    font-size: 16px;
    color: #dddddd;
}
.section.top .column.information-block {
    float: left;
    width: 20%;
    padding-left: 49px;
}
.section.top .service-block {
    float: left;
    width: 20%;
    padding-left: 32px;
}
.section.top .my-account-block {
    float: left;
    width: 20%;
    padding-left: 32px;
}
.section.top .column .decorative-line {
    width: 40px;
    height: 3px;
    margin-top: 27px;
    margin-bottom: 27px;
    background: #977733;
}
.section.top .column a {
    display: block;
    color: #888888;
    padding-bottom: 12px;
}
.section.top .column .active {
    color: #ba933e;
    padding-left: 12px;
}
/*Information, Service, My Account block start*/
/*Section top end*/

/*Section bottom start*/
.section.bottom {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
}

/*Copyright start*/
.section.bottom .copyright {
    float: left;
    width: 50%;
    position: relative;
    height: 13px;
}
.section.bottom .copyright * {
    display: inline-block;
}
.section.bottom .copyright .fa.fa-copyright {
    position: absolute;
    font-size: 10px;
    padding-top: 3px;
    padding-left: 1px;
    line-height: 14px;
}
.section.bottom .copyright .copyright-end-part {
    padding-left: 15px;
}
/*Copyright end*/

footer .container .section.bottom .text-highlighted {
    color: #ba933e;
}

/*Site navigation links start*/
.section.bottom .site-navigation-links li {
    float: left;
    padding-left: 40px;
}
.section.bottom .site-navigation-links a {
    color: #888888;
}
/*Site navigation links end*/
/*Section bottom end*/
/*Footer end*/




